img{
	width: 100%;
}

body{
    height: 100vh;
    background:rgb(62, 224, 50);
  }
.login_box {
    width: 1000px;
    height: 900px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: block;
    margin: auto;
    width: 40%;
}
.login_box {
  width: 41%;
  height: 100%;
  padding: 25px 25px;

}
.contact{
	display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
 input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: rgb(80, 217, 59);
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

label {
    display: block;
    font: 1rem;
    margin: 0.4rem 0;
}
.submit {
    border: none;
    width: 200px;
    height: 45px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    background: rgb(80, 217, 59);
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: rgb(80, 217, 59);
    -moz-box-shadow: rgb(80, 217, 59);
    box-shadow: rgb(80, 217, 59));
}
.right {
	color: #fff;
	
}